<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REALTIME INTELLIGENT SURVEILLANCE FOR CCTV CAMERAS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}" />
    <script src="{{ url_for('static',filename='jq.js') }}"></script>
</head>
<body>
 <div class="headbar" style="border: 1px solid black;height:50px;width:100%;margin-top: 0px;">
<div class="head"><h2>REALTIME INTELLIGENT SURVEILLANCE FOR CCTV CAMERAS</h2></div>
 </div>

<div class="pic-wrapper" style="margin-top: 0px;width: 100%;height: 300px;opacity: 0.6">

  <figure class="pic-1"></figure>
  <figure class="pic-2"></figure>
  <figure class="pic-3"></figure>
  <figure class="pic-4"></figure>
  <figure class="pic-5"></figure>
  <figure class="pic-6"></figure>
</div>

 <div style="margin-left: auto">
	<div class="wrap" style="float: left" >
        <a href="#" class="button" style="border-radius: 40px;margin-left: -260px;margin-top: 100px;width:150px;height: 35px">
        <form action = "{{  url_for('open_video')}}" method = "POST"
         enctype = "multipart/form-data">
         <input class='btn'  type = "file" name = "file" />
         <input class='btn' name="sub" value="Open video" type = "submit" disabled/>
      </form>
  		</a>
	</div>
<div class="wrap" style="float: left" >
        <a href={{  url_for('open_cam')}} class="button" style="border-radius: 40px;margin-left: 200px;margin-top: 100px;width:150px;height: 35px" name="camera">
       Camera
  		</a>
	</div>
<div class="wrap" style="float: left">
       <a  class="button"  style="width:150px;border-radius: 40px;height: 35px;margin-left: -30px;margin-top: 100px" href={{  url_for('analytics')}}>Analytics Dashboard</a>
</div>
 </div>


 <div class="wrap" style="margin-top: -40px" >
        <div style="display:inline-block;border-radius: 75px;margin-left: 240px;margin-top: 100px;width:130px;height: 130px" >
<img width="130px" height="130px" src="{{ url_for('static',filename='zz.png') }}"/>
  		</div>
 </div>
<div class="wrap" style="margin-top: -40px">
       <div  style="display:inline-block;width:130px;border-radius: 75px;height: 130px;margin-left: 10px;margin-top: 100px" >
<img width="130px" height="130px" src="{{ url_for('static',filename='z.png') }}"/>
       </div></div>
 <div class="wrap" style="margin-top: -40px">
       <div  style="display:inline-block;width:130px;border-radius: 75px;height: 130px;margin-left: -300px;margin-top: 100px">
<img width="130px" height="130px" src="{{ url_for('static',filename='o.png') }}"/>
       </div></div>
<script>
$(document).ready(
    function(){
        $('input:file').change(
            function(){
                if ($(this).val()) {
                    $('input:submit').attr('disabled',false);
                }
            }
            );
    });

</script>
<div class="headbar" style="height:10px;width:100%;position: fixed;bottom: 10px;"></div>
<div class="headbar" style="background-color:darkslateblue;height:10px;width:100%;position: fixed;bottom: 0;"></div>

</body>
</html>
